body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
}
// aside
.logo-container {
    background: url(/img/aside.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vw;
    height: 100%;
    position: relative;
    .logo {
        background-color: rgba(175, 180, 180, 0.212);
        display: flex;
        justify-content: center;
        position: absolute;
        top: 10%;
        width: 100%;
        #logo {
          align-self: center;
          margin-right: 30px;
        }
        >h1 {
            align-self: center;
            font-size: 4rem;
        }
    }
    .credit {
        font-size: 0.8rem;
        position: absolute;
        bottom: 0;
        text-align: center;
        left: 35%;

        a {
            color: black;
        }
    }
}
// form 

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .container {
        .form-header {
            padding: 0px 50px;
            margin-bottom: 50px;
            h3 {
                margin-bottom: 50px;
            }
        }
        form {
            padding: 30px 50px;
            background-color: #F9F9F9;
            >div {
                display: flex;
                margin: 50px 0;
                >div {
                    margin-right: 200px;
                    label {
                        display: block;
                        margin-bottom: 10px;
                    }
                    input {
                        width: 300px;
                        padding: 10px;
                        outline: none;
                        transition: all 0.2s;
                    }
                }
            }
        }
        .button {
            margin-top: 20px;
            display: block;
            button {
                padding: 16px 48px;
                border-radius: 5px;
                border: none;
                background-color: #003865;
                color: #F9F9F9;
                font-size: 0.9rem;
                transition: all 0.2s;
                font-weight: bold;
            }
            button:hover {
                cursor: pointer;
                background-color: #005697;
            }    
            a {
                text-decoration: none;
                color: #003865;
                font-weight: bold;
            }
            a:hover {
                color: #005697;
            }
        }
    }   
}
input:focus {
    border: 2px solid #003865;
    box-shadow: 2px 3px 18px 1px #0038656b;
}
#message {
    font-size: 0.7rem;
    margin-top: 5px;
}