body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
}
// aside
.logo-container {
    background: url(/img/aside.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vw;
    height: 100%;
    position: relative;
    .logo {
        background-color: rgba(175, 180, 180, 0.212);
        display: flex;
        justify-content: center;
        position: absolute;
        top: 15%;
        #logo {
            width: 10%;
        }
        >h1 {
            align-self: center;
            font-size: 4rem;
        }
    }
    .credit {
        font-size: 0.8rem;
        position: absolute;
        bottom: 0;
        text-align: center;
        left: 35%;

        a {
            color: black;
        }
    }
}